<div class="card">
    <div class="card-body">
        <form (submit)="editar ? updateInstrumento(form) : addInstrumento(form)" #form="ngForm">
            <h1>Agregar instrumento</h1>
            <div class="form-group">
                <label>Nombre:</label>
                <input type="text" class="form-control" placeholder="Ej. Piano" name="nombre" [(ngModel)]="nuevoInstrumento.nombre" #nuevoNombre="ngModel"
                minlength="3" maxlength="30" required>
                <div *ngIf="(nuevoNombre.touched||nuevoNombre.dirty) && !nuevoNombre.valid">
                    <div *ngIf="nuevoNombre.errors.required" class="alert alert-info" role="alert">El campo nombre es obligatorio</div>
                    <div *ngIf="nuevoNombre.errors.minlength" class="alert alert-info" role="alert">El campo nombre es debe de tener al menos 3 caracteres</div>
                    <div *ngIf="nuevoNombre.errors.maxlength" class="alert alert-info" role="alert">El campo nombre es debe de tener 30 caracteres como máximo</div>
                </div>
            </div>
            <div class="form-group">
                <label>Marca:</label>
                <input type="text" class="form-control" placeholder="Ej. Fender" name="marca" [(ngModel)]="nuevoInstrumento.marca" #nuevaMarca="ngModel"
                minlength="2" maxlength="20" required>
                <div *ngIf="(nuevaMarca.touched||nuevaMarca.dirty) && !nuevaMarca.valid">
                    <div *ngIf="nuevaMarca.errors.required" class="alert alert-info" role="alert">El campo marca es obligatorio</div>
                    <div *ngIf="nuevaMarca.errors.minlength" class="alert alert-info" role="alert">El campo nombre es debe de tener al menos 2 caracteres</div>
                </div>       
            </div>
            
           <div class="form-group">
                <label>Clasificación:</label>
                <select class="form-control" id="selClasificacion" name="clasificacion" [(ngModel)]="nuevoInstrumento.clasificacion" #nuevaClase="ngModel"
                    required>
                    <option>De Cuerda</option>
                    <option>De Viento</option>
                    <option>De Percusión</option>
                    <option>De Teclado</option>
                    <option>De ruido</option>
                    <option>Electrófono </option>
                </select>    
                <div *ngIf="(nuevaClase.touched||nuevaClase.dirty) && !nuevaClase.valid">
                        <div *ngIf="nuevaClase.errors.required" class="alert alert-info" role="alert">El campo clasificación es obligatorio</div>
                </div>   
            </div>
            
            <div class="form-group">
                <label>Precio:</label>
                <input type="text" class="form-control" placeholder="Ej. 100" name="precio" [(ngModel)]="nuevoInstrumento.precio" #nuevoPrecio="ngModel"
                minlength="1" maxlength="10" required pattern="[0-9]+\.?[0-9]{0,2}">
                <div *ngIf="(nuevoPrecio.touched||nuevoPrecio.dirty) && !nuevoPrecio.valid">
                    <div *ngIf="nuevoPrecio.errors.required" class="alert alert-info" role="alert">El campo precio es obligatorio</div>
                    <div *ngIf="nuevoPrecio.errors.minlength" class="alert alert-info" role="alert">El campo nombre es debe de tener al menos 1 caracter</div>
                    <div *ngIf="nuevoPrecio.errors.pattern" class="alert alert-info" role="alert">El precio tiene que ser un numero con dos decimales como máximo y con un punto como separador</div>
                </div>       
            </div>
            <div class="form-group">
                <label>Descripción:</label>
                <textarea id="" cols="30" rows="6" placeholder="Ej. Piano negro clásico" class="form-control" name="descripcion" [(ngModel)]="nuevoInstrumento.descripcion" #nuevaDescripcion="ngModel"
                minlength="3" maxlength="200" required>
                </textarea>
                <div *ngIf="(nuevaDescripcion.touched||nuevaDescripcion.dirty) && !nuevaDescripcion.valid">
                        <div *ngIf="nuevaDescripcion.errors.required" class="alert alert-info" role="alert">El campo descripción es obligatorio</div>   
                        <div *ngIf="nuevaDescripcion.errors.minlength" class="alert alert-info" role="alert">El campo nombre es debe de tener al menos 3 caracteres</div>
                </div>    
            </div>
            <button class="btn btn-primary btn-block">
                Guardar
            </button>
            <div *ngIf="mosrarMensaje" class="alert alert-warning" role="alert">{{mensaje}}</div>
        </form>
    </div>
</div>