<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img 
                width="50"
                src="./../../../assets/img/logo2.png"
            />
            Instrumentos Musicales
        </a>
        <!--
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/agregarInstrumento">Agregar Instrumento</a>
                <a class="dropdown-item" href="/instrumentos">Listar instrumentos</a>
                <a class="dropdown-item" href="#">Contacto</a>
            </div>    
        </div>

        <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>Action - 1</button>
                  <button ngbDropdownItem>Another Action</button>
                  <button ngbDropdownItem>Something else is here</button>
                </div>
        </div>

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>   -->

        <div class="dropdown" dropdown style="color:white;" >
                <a dropdownToggle role="button"> <!-- {2} -->
                    Menu<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" href="/agregarInstrumento">Agregar Instrumento</a>
                    <a class="dropdown-item" href="/instrumentos">Listar instrumentos</a>
                </div>
        </div>


    </div>
</nav>
<!--
<div class="video-container">
        <video autoplay loop muted id="video-bg">
  
          <source src="http://bigcom.com/assets/2014/08/iChooseB.mp4" type="video/mp4">
  
        </video>
      </div>

    -->